<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<button kendoButton (click)="onButtonClick()" [primary]="true">Execute Fct on Grid</button>


<kendo-grid
  #grid
  [data]="gridData"
  [sortable]="true"
  [groupable]="true"
  [resizable]="true"
>
  <ng-template kendoGridToolbarTemplate>
    <button class="k-button" (click)="grid.autoFitColumns()">
      Auto-fit all columns
    </button>
    <button class="k-button" (click)="grid.saveAsPDF()">
      save as PDF
    </button>
  </ng-template>

</kendo-grid>

<hr/>
<h3>Multi-Select Test</h3>

<!--(open)="open()"-->
<!--(close)="close()"-->
<!--(focus)="focus()"-->
<!--(blur)="blur()"-->

<div style="margin-top: 2rem;">
List of countries:
<kendo-multiselect [data]="multiSelectData"
                   [filterable]="true"
                   (filterChange)="multiSelectFilterChange($event)"
                   (valueChange)="multiSelectValueChange($event)"
  [(ngModel)]="selectedCountries"
>
</kendo-multiselect>
</div>

<div style="margin-top: 1rem;">
  Current Selected Countries (model binding): <br/>
  {{selectedCountries | json}}
</div>
<div style="margin-top: 1rem;">
  Current Selected Countries (value change event): <br/>
  {{selectedCountriesValueChange | json}}
</div>

<ul>
  <li *ngFor="let country of selectedCountriesValueChange; index as i; first as isFirst">
    {{i}}: {{country}} <span *ngIf="isFirst"> - First</span>
  </li>
</ul>
