<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<button kendoButton (click)="onButtonClick()" [primary]="true">Execute Fct on Grid</button>


<kendo-grid 
  #grid
  [data]="gridData"
  [sortable]="true"
  [groupable]="true"
  [resizable]="true"
>
  <ng-template kendoGridToolbarTemplate>
    <button class="k-button" (click)="grid.autoFitColumns()">
      Auto-fit all columns
    </button>
    <button class="k-button" (click)="grid.saveAsPDF()">
      save as PDF
    </button>
  </ng-template>

</kendo-grid>
